.tickers-visible {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	border: 1px solid silver;
	border-radius: 5px;
	min-height: 50px;
}

.tickers-visible .tickers-item {
	background-color: #ffffff;
	border: 1px solid silver;
	border-radius: 5px;
	margin: 5px;
}
